.AlertContents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.AlertContents div {
    margin: 0 10px;
}

.Summary label {
    margin-right: 0.25em;
    font-weight: bold;
}